Lab8/GameDev/Schema.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"><element name="result"><complexType><sequence><element maxOccurs="unbounded" name="row"><complexType><sequence><element name="ID" type="integer"/><element name="NAME" nillable="true" type="string"/></sequence></complexType></element></sequence></complexType></element></schema>